.env 
node_modules/
tools/csv-parser/*.json
!tools/csv-parser/csv-files/.gitkeep
*.csv
*.pdf

BulkPdf/data/*.xlsx
BulkPdf/*.bulkpdf
!BulkPdf/data/.gitkeep

services/logs/*.log
!services/logs/.gitkeep


private/*.key
private/*.pem
private/*.cert
!private/.gitkeep
file_storage/pdf/*
!file_storage/pdf/.gitkeep